body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin:0;
    padding:0px;
    font-size: 12px;
}
ul{
    list-style:none;
}
body{
    font-family: "Microsoft YaHei", Arial, sans-serif;
}
.a-hover>img{
    transition:transform 1s ease 0s;
}
.a-hover:hover>img{
    transform:scale(1.07);
}
.a-h_border{
    /* box-sizing: border-box; */
    border:1px solid transparent;
}
.a-h_border:hover{
    border:1px solid #4dcaf3;
}
/* 详情页导航栏 */
.nav{
    width:100%;
    height:68px;
    background:#fff;
}
.w1210{
    width:1210px;
    margin:0 auto;
}
.ml280{
    margin-left: 280px;
}
.nav ul li{
    float:left;
    height:68px;
    line-height: 68px;
    margin-right:75px;
}
.nav ul li a{
    color:#262626;
    font-size: 16px;
    text-decoration: none;
}
.nav ul li a:hover{
    color:#13a0ff;
}
/* 登陆区域 */
#loginArea{
    width:100%;
    padding:50px 0 50px 0;
    position: relative;
    background-image: url("../sony_images/t_bg.jpg");
}
.log{
    width:350px;
    height:523px;
    background-color:#4dcaf3;
}
.log-top{
    width:300px;
    height:430px;
    margin:0 auto;
}
.log .log-top p{
    font-size:20px;
    border-bottom:1px solid #36b4e7;
    color:#42759d;
    text-align: center;
}
/* 表单样式 */
.ipt{
    width:298px;
    padding-left:60px;
    height:48px;
    background:none;
    outline: none;
    border:none;
    font-size:16px;
    color:#ffffff;
}
.ipt_user{
    background-image: url("../sony_images/user.jpg")
}
.ipt_pwd{
    background-image: url("../sony_images/pwd.jpg")
}
.del_input{
    color:#fff;
    font-size:20px;
    position: absolute;
    top:10px;
    right:6px;
    cursor:pointer;
}
/* 滑动框 */
.alive{
    width:298px;
    height:36px;
    position:relative;
}
.alive>.txt{
    position:absolute;
    top:0px;
    left:0px;
    width:298px;
    height:36px;
    text-align: center;
    line-height: 36px;
    background-color:#e8e8e8;
    font-size:12px;
    color:#4d4d4d;
    cursor: pointer;
    /* z-index: 0; */
}
.alive>.txt>span{
    position: absolute;
    width:100%;
    left:0px;
    z-index: 2;
}
.alive>.txt>div{
    width:240px;
    height:16px;
    position: absolute;
    top:10px;
    left:50px;
    background: rgba(0,0,0,0);
    z-index: 3;
}
.alive>.bgcolor{
    position:absolute;
    /* width:30px; */
    /* top:0; */
    /* left:0; */
    /* background-color:#7ac23c; */
    height:36px;
    background-color: #7ac23c;
    z-index:1
}
.alive>.lang{
    position:absolute;
    /* top:0px; */
    /* left:0px; */
    width:41px;
    height:36px;
    background:#fff;
    cursor: move;
    z-index: 3;
    text-align: center;
}


.font14{
    font-size:14px;
}
/* 登陆/注册按钮 */
.a-btn{
    display:block;
    background:#ffffff;
    width:100;
    height:52px;
    color:#71a2b5;
    font-size:18px;
    margin-bottom:10px;
    line-height: 52px;
    text-align:center;
}
.a-btn:hover{
    color:#00549f;
    text-decoration:none;
}
/*  */
.log-btm{
    background-color:#31aef8;
}
.log-btm div{
    height:46px;
    line-height:46px;
    background-repeat: no-repeat;
    background-position: 25px center;
    padding-left: 50px;
    color:#ffffff;
}
.log-btm .info{
    border-bottom:1px solid #298ee0;
    background-image:url("../sony_images/crown.png")
}
.log-btm .help{
    background-image:url("../sony_images/help.png")
}
.log-btm div a{
    color:#ffffff;
}
.log-btm div a:hover{
    color:#00549f;
    text-decoration:none;
}
/* 登陆区域右侧图片 */
#loginArea .r-pho{
    width:860px;
}
.mb-10{
    margin-bottom:10px;
}
/* 中部大厦 */
#ActiveKvArea{
    background-color:rgb(241, 244, 249);
}
#ActiveKvArea h3{
    font-size:24px;
    text-align: center;
    padding: 15px 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.10);
    color:#333;
}
.tab-Control>div>div{
    width:20%;
    float:left;
}
.tab-Control>a{
    display: block;
    width:23px;
    height:38px;
    margin-top:-15px;
    position:absolute;
    top:50%;
}
.arrow-left{
    left:-40px;
    background:url("../sony_images/r_prev.png")
}
.arrow-right{
    right:-40px;
    background:url("../sony_images/r_next.png") right bottom
}
.tab-Control>div>div>a{
    width:218px;
    height:374px;
    margin: 0 auto;
}
.w-600{
    width:600px;
}
/* 活动大厅 */
#acafe{
    height:1008px;
    background:url("../sony_images/acafe_bg.jpg") no-repeat;
}
.acafe_title{
    padding:90px 0 40px 0;
}
.title_line{
    width:70px;
    height:4px;
    background:rgba(255, 255, 255, .5);
    margin:0 auto;
    margin-top:20px;
}
