@media screen and (max-width:700px) and (min-width:500px) {
	body{
		background:#dcc1ed;
	}
}
@media screen and (min-width:701px) {
	body{
		background:url("sony_images/kv_sel35f18f_xpfb.jpg") no-repeat;
		background-size:100% 100%;
		background-attachment:fixed;
		/* background-color:rgba(0,0,0,0.3); */
	}
}
*{margin:0;padding:0;outline: 0;}
a{text-decoration:none;color:black;}
a:hover{
	color:#e08616;
}

input{outline:0;}
#shensuotu{
	width:100%;
	height:450px;
	overflow:hidden;
}
#shensuotu>img{
	width:100%;
	height:100%;
	transition-duration: 3.5s;
	transition-timing-function: cubic-bezier(0,0,0.3,0.6);
}
#shensuotu>img:hover{
	transform: scale(1.2,1.2);
}
#p30{
	width:263px;
	height:539px;
	border:1px solid red;
	position:absolute;
}
#p30_{
	position: relative;
	bottom:0px;
	transition-duration: 1s;
}
#p30_:hover{
	position:relative;
	bottom:50px;
}
#p30_shadow{
	border:1px solid red;
}
a>img{
	border-radius:5px;
}
a>img:hover{
	/*小黄帽悬浮变色*/
	opacity: .8;
	
}
#zsk{
	width:210px;
	height:308px;
	position:relative;
	left:300px;
	top:10px;
	border-radius:5px;
	background:white;
}
#zsk a img{
	width:210px;
	height:158px;
	border-radius:5px 5px 0 0;
}
.zstz{
	box-sizing:border-box;
	border-bottom:1px solid #eee;
	box-sizing:border;
	width:100%;
	height:100px;
	padding:11px 16px 13px;
}
.biaoti{
	margin-bottom:1px;
}
.fenlei{
	color:rgb(187,187,187);
	font-size:12px;
}
/* 头部导航栏样式 */
#header{
	width:100%;
	height:65px;
	background: #000000;
}
#header_content{
	width:1210px;
	height:65px;
	margin:0 auto;
}
/*animate*/
#animate{
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-around;
	align-items:center;
	
}
#animate>span{
	display:block;
	animation:zoomOutDown 2s;
	font:88px "Century Gothic";
	font-style:normal;
	color:#f35626;
	/*background-image:linear-gradient(92deg, #f35626 0%,#feab3a 100%);*/
}
#animate:hover{
	animation:zoomOutDown 2s;
}