body,ul,p,h2{
    background-color:#f1f4f9;
    margin:0;
    padding:0;
    list-style:none;
    font-family:"Microsoft YaHei", Arial, sans-serif;
}
h2{
    font-weight:normal;
}
a:hover,
a{
    text-decoration: none;
}
input{
    outline:none;
    border:none;
}
/* 头部导航栏样式 */
#header{
	width:100%;
	/* height:65px; */
    background: #000000;
    color:white;
}
/*顶部导航栏内容区域*/
#header_conten{
	width:1210px;
	height:65px;
    margin:0 auto;
}
#log{
    box-sizing: border-box;
    float:left;
    /*width:200px;
    height:100%;*/
   margin-top:25px;
   margin-left:25px;
}
#header_conten>#log>a{
    display:block;
    width:109px;
    /*height:20px;*/
}
#log>a>img{
    width:100px;
    display:block;
}
/* 二级列表搜索框样式 */
#header_nav_main{
    float:left;
    height:100%;
    margin-left:9%;
}
#tbn ul li a{
    float:left;
    box-sizing:border-box;
    /* border:1px solid red; */
    width:113px;
    line-height: 65px;
    /* margin-right:13px; */
    color:white;
    text-align:center;
    background:url(sony_images/dot_down_black.jpg) no-repeat 95px center;
}
#serch{
    /* border: 1px solid red; */
    float:left;
    width: 265px;
    height:25px;
    padding-right:35px;
    border-radius:25px;
    text-indent:12px;
    margin-top:21px;
    background:white url(sony_images/btn_search_03.jpg) no-repeat 239px center;
}
#list_serch{
    margin-left:20px;
}
#list_serch::after{
    content:"";
    display:block;
    clear:both;
}
/* 第一个二级列表 */
#tbn>ul>li>a:hover{
    background:white url(sony_images/dot_down_blue.jpg) no-repeat 90px center;
    color: #1fa8e2;
}
#tbn ul li{
    float:left;
    text-align:center;
}
#list_l1{
    background: url("sony_images/nav_line.jpg") no-repeat right center;
    position: relative;
}
#list_l1>.fenlei{
    display:none;
    z-index: 999;
}
#list_l1:hover>.fenlei{
    display: block;
    width:200px;
    height:500px;
    position:absolute;
    top:65px;
    right:0px;
    border:2px solid #000;
}
/* 头部导航栏右侧样式 */
#header_right{
    float:right;
    height:65px;
    font-size:14px;
    font-weight: bold;
    line-height: 65px;
}
#shopping_car{
    float:right;
    position:relative;
    width:40px;
    height:65px;
    background:url(sony_images/icon_shopping_1.png) no-repeat center center;
}
#shuliang{
    width: 19px;
    height:19px;
    border-radius:50%;
    background-color:#e60000;
    line-height:19px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    font-weight: 500;
    color:#fff;
    position: absolute;
    top:19px;
    left:16px;
}
#header_right>div{
    float:right;
    margin-right:30px;
}
#header_right p{
    box-sizing:border-box;
    /* border:1px solid red; */
    width:83px;
    background:url(sony_images/dot_down_black.jpg) no-repeat right center;
}
#log_reg{
    float:right;
    color:#1fa8e2;
}

#log_reg>span{
    cursor: pointer;
}
/*首页轮播图*/
#swiper-container{
    width:100%;
    max-height:890px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.carousel-indicators li{
    background:#fff;
    border-radius:50%;
    width:0.8rem;
    height:0.8rem;
    margin-left:0.4rem;
    margin-right:0.4rem;
}
.carousel-indicators li.active{
    background:#0aa1ed;
}
/*一、1.数码影像*/
#MainB2,
#MainB1{
    width:1220px;
    height:1650px;
    margin:0 auto;
}
#MainB1>h2{
    text-align:center;
}
/*一楼数码影像标题背景图*/
#smyx_bg{
    background:url("sony_images/blocktitlelogo.png") no-repeat;
    background-position:0px center;
}
/*2.导航栏字体样式*/
#MainB2>ul.font-s>li>a,
#MainB1>ul.font-s>li>a{
    font-size: 12px;
    color:#666;
}
/*3.导航栏边框样式*/
.minw80{
    min-width:80px;
}
ul.font-s>li:not(nth-child){
   border-right:1px solid #6b6b6b;
   height:16px;
    line-height: 16px;
}
#MainB2>ul.font-s>li:not(:nth-child(2)){
    width:101px;
}
#MainB2>ul.font-s>li:first-child{
    width:130px;
}
/*4商品大厦主体*/
.MainBlock2,
.MainBlock1{
    margin:0 auto;
    margin-top:30px;
    box-sizing:border-box;
    width:1220px;
    height:1426px;
    /*border:1px solid red;*/
    /*padding:;*/
}
/*4.1商场大厦左*/
.MainBlock_left{
    width:50%;
    height:100%;
    float:left;
    /*border:1px solid red;*/
}
/*4.1.0商场内部块公共样式*/
.MainBlock_left>div{
    float:left;
    /*border:1px solid red;*/
}
/*4.1.1商场左内部第一个样式*/
.MainBlock_left>div:first-child{
    height:703px;
}
/*4.1.2商场内部第2个块样式*/
.MainBlock_left>div:nth-child(2){
    height:295px;
}
/*4.1.3商场内部第3个块样式*/
.MainBlock_left>div:nth-child(3){
    height:398px;
    width:295px;
}
/*4.1.4商场内部第4个块样式*/
.MainBlock_left>div:nth-child(4){
    height:194px;
    width:295px;
}
/*4.1.5商场内部第5个块样式*/
.MainBlock_left>div:nth-child(5){
    height:194px;
    width:295px;
}
/*4.2商场大厦右*/
.MainBlock_right{
    width:50%;
    height:100%;
    float:left;
}
/*4.2.0商场内部块公共样式*/
.MainBlock_right>div{
    float:left;
    /*border:1px solid red;*/
}
/*4.2.1商场左内部第一个样式*/
.MainBlock_right>div:first-child{
    width:295px;
    height:398px;
}
/*4.2.2商场内部第2个块样式*/
.MainBlock_right>div:nth-child(2){
    height:398px;
    width:295px;
}
/*4.2.3商场内部第3个块样式*/
.MainBlock_right>div:nth-child(3){
    height:295px;
    width:295px;
}
/*4.2.4商场内部第4个块样式*/
.MainBlock_right>div:nth-child(4){
    height:295px;
    width:295px;
}
/*4.2.5商场内部第5个块样式*/
.MainBlock_right>div:nth-child(5){
    height:703px;
    width:600px;
}
/*4.0商场大厦背景图伸缩效果*/
#MainB2>.MainBlock2>div>div,
#MainB1>.MainBlock1>div>div{
    overflow: hidden;
}
.my_hover,
#MainB2>.MainBlock2>div>div>img,
#MainB1>.MainBlock1>div>div>img{
    transition-duration: 1s;
    /*background-position: center;*/
}
#MainB2>.MainBlock2>div>div>img:hover,
.my_hover:hover,
#MainB1>.MainBlock1>div>div>img:hover{
    transform:scale(1.1,1.1);
}
/*5.0商场最底部文字公共样式*/
#MainB2>.block_bottom,
#MainB1>.block_bottom{
    font-size:12px;
    color:#000;
    margin:0 auto;
}
/*5.2商场底部文字装机必备样式*/
#MainB2>.block_bottom>span,
#MainB1>.block_bottom>span{
    font-weight: bold;
    font-size: 14px;
    color: #2591da;
    /*position:relative;
    top:-2px;*/
}
/*5.2商场最底部文字边框*/
#MainB2>.block_bottom>ul>li+li,
#MainB1>.block_bottom>ul>li+li{
    border-left:1px solid #000;
}
/*5.3商场二楼标题背景图*/
#MainB2 #bxyp_bg{
    background-image:url("sony_images/blocktitlelogo2.png");
    background-repeat: no-repeat;
    background-position:0px center; 
}
#MainBMySony{
    width:100%;
    height:1320px;
    border:1px solid red;
    background:#0a83d6;
}
#MainBMySony>h3{
    background:url("sony_images/blocktitlelogo4.png") no-repeat left center;
    text-align:center;
    width:358px;
    margin:33px auto;
    padding-left:40px;
    font-weight:normal;
}
#MainBMySony>ul:nth-child(2){
    font-size:5px;
}
.w-200{
    width:200%;
}
.backg{
    display:none;
    background-color:rgb(0,0,0);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:.7;
    cursor:pointer;
    z-index: 9998;
}
#login{
    display: none;
    width:558px;
    background:#fff;
    position: fixed;
    left:50%;
    top:50%;
    z-index:9999;
    transform:translate(-279px,-192px)
}
.w-9{
    width:90%;
}
.login_zones{
    display:none;
}
.login_zones .pads{
    padding-top:60px;
    width:316px;
    margin:0 auto;
}
.login_zones .pads input.ipt{
    display: block;
    font-size:12px;
    float: left;
    width:254px;
    padding:15px 0 11px 15px;
}
.login_zones .pads div{
    border:1px solid #bdbdbd;
    margin-bottom: 10px;
}
.sp1{
    display:block;
    float: left;
    width:48px;
    height:46px;
    border-right:1px solid #bdbdbd;
    background:url("sony_images/usr.png") center center no-repeat #f3f3f3
}
.sp2{
    background-image: url("sony_images/pass.png");
}
.remem{
    float:left;
    margin: 0;
    color:#bfbfbf;
}
.pads>a{
    height:48px;
    line-height: 48px;
    font-size:20px;
    background:rgb(30,149,241);
    color:#fff;
}
.bottom{
    text-align: center;
    color:#a7a7a7;
    font-size:12px;
}
.active{
    display:block !important;
}
.fade{
    display:none !important;
    
}
.cursor{
    cursor:pointer;
}
.fixed{
    position:fixed;
    top:0;
    z-index:999;
}
/* footer */
.footer-box{
    height:415px;
    min-width: 1210px;
    padding: 30px 0 50px 0;
    background: #000;
}
.footer-box>div{
    width:1210px;
    margin:0 auto;
}
.footer-top>div{
    float: left;
}
.footer-top p{
    color:#fff;
    background: #000;
    font-size:14px;
    margin-bottom: 20px;
    font-weight: lighter;
}
.footer-top a{
    color:#6a6a6a;
    font-size:12px;
    margin-bottom:15px;
    display: inline-block;
}
.ft-center{
    margin:0px 220px 0px 125px;
}
.ft-left>a:hover{
    color:#009ffb;
}
a.store{
    font-size:14px;
    display: inline-block;
    margin-bottom: 40px;
    color:white;
}
.ft-center p{
    margin-bottom:20px;
}
.bg-a{
    width:175px;
    height:32px;
    line-height:32px;
    margin-bottom: 10px !important;
    text-align: center;
    font-size:14px !important;
    color:#9e9e9e !important;
    background-color:#464646;
}
.bg-a:hover{
    background: #009ffb;
    color: #fff !important;
}
.icon-tel{
    position: relative;
    width: 90px;
}
.icon-tel::after{
    content: "";
    position:absolute;
    right: 0px;
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url("sony_images/footer-icon_07.png")
}
.icon-tel:hover{
    color: #fff;
}
.icon-tel:hover:after{
    content: "";
    position:absolute;
    right: 0px;
    display: inline-block;
    width: 18px;
    height: 16px;
    background: url("sony_images/footer-icon_07on.png")
}
.ft-right>ul>li{
    float: left;
    margin-right: 58px;
}
.ft-right p{
    margin-bottom:10px;
}
.super-list{
    background: transparent;
}
.super-list>li{
    margin-top:8px;
    height: 18px;
    line-height: 16px;
}
.super-list>li>a{
    margin: 0;
    display: inline;
}
.super-list>li>a:hover{
    color: #009ffb;
}
.search-icon{
    position: relative;
}
.search-icon::after{
    content: "";
    position: absolute;
    right: -22px;
    width: 16px;
    height: 16px;
    background: url("sony_images/footer-icon_03.png")
}
.search-icon:hover::after{
    background: url("sony_images/footer-icon-on03_03.png")
}