body,ul,p,h2{
    background-color:#f1f4f9;
    margin:0;
    padding:0;
    list-style:none;
    font-family:"Microsoft YaHei", Arial, sans-serif;
}
h2{
    font-weight:normal;
}
a{
    text-decoration: none;
}
input{
    outline:none;
    border:none;
}
/* 头部导航栏样式 */
#header{
	width:100%;
	height:65px;
    background: #000000;
    color:white;
}
/*顶部导航栏内容区域*/
#header_conten{
	width:1210px;
	height:65px;
    margin:0 auto;
}
#log{
    box-sizing: border-box;
    float:left;
    /*width:200px;
    height:100%;*/
   margin-top:25px;
   margin-left:25px;
}
#header_conten>#log>a{
    display:block;
    width:109px;
    /*height:20px;*/
}
#log>a>img{
    width:100px;
    display:block;
}
/* 二级列表搜索框样式 */
#header_nav_main{
    float:left;
    height:100%;
    margin-left:9%;
}
#tbn ul li a{
    float:left;
    box-sizing:border-box;
    /* border:1px solid red; */
    width:113px;
    line-height: 65px;
    /* margin-right:13px; */
    color:white;
    text-align:center;
    background:url(sony_images/dot_down_black.jpg) no-repeat 95px center;
}
#serch{
    /* border: 1px solid red; */
    float:left;
    width: 265px;
    height:25px;
    padding-right:35px;
    border-radius:25px;
    text-indent:12px;
    margin-top:21px;
    background:white url(sony_images/btn_search_03.jpg) no-repeat 239px center;
}
#list_serch{
    margin-left:20px;
}
#list_serch::after{
    content:"";
    display:block;
    clear:both;
}
/* 第一个二级列表 */
#tbn>ul>li>a:hover{
    background:white url(sony_images/dot_down_blue.jpg) no-repeat 90px center;
    color: #1fa8e2;
}
#tbn ul li{
    float:left;
    text-align:center;
}
#list_l1{
    background: url("sony_images/nav_line.jpg") no-repeat right center;
    position: relative;
}
#list_l1>.fenlei{
    display:none;
    z-index: 999;
}
#list_l1:hover>.fenlei{
    display: block;
    width:200px;
    height:500px;
    position:absolute;
    top:65px;
    right:0px;
    border:2px solid #000;
}
/* 头部导航栏右侧样式 */
#header_right{
    float:right;
    height:65px;
    font-size:14px;
    font-weight: bold;
    line-height: 65px;
}
#shopping_car{
    float:right;
    position:relative;
    width:40px;
    height:65px;
    background:url(sony_images/icon_shopping_1.png) no-repeat center center;
}
#shuliang{
    width: 19px;
    height:19px;
    border-radius:50%;
    background-color:#e60000;
    line-height:19px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    font-weight: 500;
    color:#fff;
    position: absolute;
    top:19px;
    left:16px;
}
#header_right>div{
    float:right;
    margin-right:30px;
}
#header_right p{
    box-sizing:border-box;
    /* border:1px solid red; */
    width:83px;
    background:url(sony_images/dot_down_black.jpg) no-repeat right center;
}
#log_reg{
    float:right;
    color:#1fa8e2;
}
#log_reg>a:visited{
    color:#1fa8e2;
}
/*首页轮播图*/
#swiper-container{
    width:100%;
    height:800px;
    /*background-image:url('sony_images/kv_sel35f18f_xpfb.jpg');*/
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.carousel-indicators li{
    background:#fff;
    border-radius:50%;
    width:0.8rem;
    height:0.8rem;
    margin-left:0.4rem;
    margin-right:0.4rem;
}
.carousel-indicators li.active{
    background:#0aa1ed;
}
/*一、1.数码影像*/
#MainB2,
#MainB1{
    width:1220px;
    height:1650px;
    margin:0 auto;
}
#MainB1>h2{
    text-align:center;
}
/*一楼数码影像标题背景图*/
#smyx_bg{
    background:url("sony_images/blocktitlelogo.png") no-repeat;
    background-position:0px center;
}
/*2.导航栏字体样式*/
#MainB2>ul.font-s>li>a,
#MainB1>ul.font-s>li>a{
    font-size: 5px;
    color:#666;
}
/*3.导航栏边框样式*/
.minw80{
    min-width:80px;
}
ul.font-s>li:not(nth-child){
   border-right:1px solid #6b6b6b;
   height:16px;
    line-height: 16px;
}
#MainB2>ul.font-s>li:not(:nth-child(2)){
    width:101px;
}
#MainB2>ul.font-s>li:first-child{
    width:130px;
}
/*4商品大厦主体*/
.MainBlock2,
.MainBlock1{
    margin:0 auto;
    margin-top:30px;
    box-sizing:border-box;
    width:1220px;
    height:1426px;
    /*border:1px solid red;*/
    /*padding:;*/
}
/*4.1商场大厦左*/
.MainBlock_left{
    width:50%;
    height:100%;
    float:left;
    /*border:1px solid red;*/
}
/*4.1.0商场内部块公共样式*/
.MainBlock_left>div{
    float:left;
    /*border:1px solid red;*/
}
/*4.1.1商场左内部第一个样式*/
.MainBlock_left>div:first-child{
    height:703px;
}
/*4.1.2商场内部第2个块样式*/
.MainBlock_left>div:nth-child(2){
    height:295px;
}
/*4.1.3商场内部第3个块样式*/
.MainBlock_left>div:nth-child(3){
    height:398px;
    width:295px;
}
/*4.1.4商场内部第4个块样式*/
.MainBlock_left>div:nth-child(4){
    height:194px;
    width:295px;
}
/*4.1.5商场内部第5个块样式*/
.MainBlock_left>div:nth-child(5){
    height:194px;
    width:295px;
}
/*4.2商场大厦右*/
.MainBlock_right{
    width:50%;
    height:100%;
    float:left;
}
/*4.2.0商场内部块公共样式*/
.MainBlock_right>div{
    float:left;
    /*border:1px solid red;*/
}
/*4.2.1商场左内部第一个样式*/
.MainBlock_right>div:first-child{
    width:295px;
    height:398px;
}
/*4.2.2商场内部第2个块样式*/
.MainBlock_right>div:nth-child(2){
    height:398px;
    width:295px;
}
/*4.2.3商场内部第3个块样式*/
.MainBlock_right>div:nth-child(3){
    height:295px;
    width:295px;
}
/*4.2.4商场内部第4个块样式*/
.MainBlock_right>div:nth-child(4){
    height:295px;
    width:295px;
}
/*4.2.5商场内部第5个块样式*/
.MainBlock_right>div:nth-child(5){
    height:703px;
    width:600px;
}
/*4.0商场大厦背景图伸缩效果*/
#MainB2>.MainBlock2>div>div,
#MainB1>.MainBlock1>div>div{
    overflow: hidden;
}
.my_hover,
#MainB2>.MainBlock2>div>div>img,
#MainB1>.MainBlock1>div>div>img{
    transition-duration: 1s;
    /*background-position: center;*/
}
#MainB2>.MainBlock2>div>div>img:hover,
.my_hover:hover,
#MainB1>.MainBlock1>div>div>img:hover{
    transform:scale(1.1,1.1);
}
/*5.0商场最底部文字公共样式*/
#MainB2>.block_bottom,
#MainB1>.block_bottom{
    font-size:12px;
    color:#000;
    margin:0 auto;
}
/*5.2商场底部文字装机必备样式*/
#MainB2>.block_bottom>span,
#MainB1>.block_bottom>span{
    font-weight: bold;
    font-size: 14px;
    color: #2591da;
    /*position:relative;
    top:-2px;*/
}
/*5.2商场最底部文字边框*/
#MainB2>.block_bottom>ul>li+li,
#MainB1>.block_bottom>ul>li+li{
    border-left:1px solid #000;
}
/*5.3商场二楼标题背景图*/
#MainB2 #bxyp_bg{
    background-image:url("sony_images/blocktitlelogo2.png");
    background-repeat: no-repeat;
    background-position:0px center; 
}
/*便携音频*/
/*#MainB2{
    width:100%;
    height:1767px;
    border:2px solid red;
}*/
/*#MainB2>h2{
    text-align: center;
}*/
/*会员专区*/
#MainBMySony{
    width:100%;
    height:1320px;
    border:1px solid red;
    background:#0a83d6;
}
#MainBMySony>h3{
    background:url("sony_images/blocktitlelogo4.png") no-repeat left center;
    text-align:center;
    width:358px;
    margin:33px auto;
    padding-left:40px;
    font-weight:normal;
}
#MainBMySony>ul:nth-child(2){
    font-size:5px;
}
/* 卡片尺寸 */
#MainBMySony>div:nth-child(3){
    width:1500px;
    margin:0 auto;
    border:2px solid salmon;
}
.my_card-size{
    width:295px;
    height:398px;
}
/* 卡片尺寸 */
.card-img-size{
    width:295px;
    height:398px;
}
/* 卡片图片定位 */
/* .card-img-position{
    position:relative;
    top:0;
    left:-100px;
} */
/* 悬浮效果 */
.card-none{
    /* border:1px solid red; */
    background-color:red;
    width:0px;
    height:398px;
    /* display:none; */
    transition:0.4s ease;

}
.card-none:hover,
.card-hover:hover+.card-none{
    
    width:320px;
    display:block;
}
.w-200{
    width:200%;
}
